<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.web.controller*" />
    <!-- 配置注解驱动 -->
    <!--<mvc:annotation-driven />-->

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

    <!-- 视图解析器 -->
	<!-- 资源映射器 , 解决静态资源无法被访问的问题-->
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/image/" mapping="/image/**"/>
	<mvc:resources location="/fonts/" mapping="/fonts/**"/>
	<!-- 处理静态资源被“/”所拦截的问题 -->
	<mvc:default-servlet-handler/>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
		
	<!--&lt;!&ndash; 多媒体解析器  &ndash;&gt;-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--&lt;!&ndash; 设定默认编码 &ndash;&gt;-->
		<property name="defaultEncoding" value="UTF-8" />
		<!--&lt;!&ndash; 设定文件上传的最大值5MB，5*1024*1024 &ndash;&gt;-->
		<property name="maxUploadSize" value="5242880" />
	</bean>

</beans>