<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.ProductDetailMapper" >
    <resultMap id="BaseResultMap" type="com.web.pojo.ProductDetail" >
        <id property="id" column="id" />
        <result column="p_name" property="pName" jdbcType="VARCHAR" />
        <result column="p_type" property="pType" jdbcType="VARCHAR" />
        <result column="p_intro" property="pIntro" jdbcType="VARCHAR" />
        <!--多表查询中关联另一个实体的配置-->
        <association property="tbProperty" javaType="com.web.pojo.TbProperty">
            <!-- property 表示com.mybatis.bean.Class中的属性； column 表示表中的列名 -->
            <!--<id property="id" column="id" />-->
            <result property="prColor" column="pr_color"/>
            <result property="prImage" column="pr_image"/>
            <result property="prOutprice" column="pr_outprice"/>
            <result property="prSize" column="pr_size"/>
        </association>
    </resultMap>

    <resultMap id="commentPropertyResult" type="com.web.pojo.CommentProperty">
        <result column="c_email" property="cEmail" jdbcType="VARCHAR" />
        <result column="c_name" property="cName" jdbcType="VARCHAR" />
        <result column="co_info" property="co_info" jdbcType="VARCHAR" />
        <result column="co_date" property="co_date" jdbcType="TIMESTAMP" />
        <result column="co_grade" property="co_grade" jdbcType="INTEGER" />
        <result column="pr_color" property="prColor" jdbcType="VARCHAR" />
        <result column="pr_size" property="prSize" jdbcType="VARCHAR" />
        <result column="pr_material" property="prMaterial" jdbcType="VARCHAR" />

    </resultMap>

    <select id="getCommentListByPropertyId" resultMap="commentPropertyResult">
        select pr_color, pr_size, pr_material,c_email,c_name,co_info,co_date,co_grade
        from tb_property left join tb_comment on tb_property.id = tb_comment.pr_id
            left join tb_client on tb_client.id = tb_comment.c_id
        where tb_property.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getProductDetail" resultMap="BaseResultMap" >
      select tb_property.id, p_name, p_type, p_intro,p_id, pr_image, pr_color, pr_size, pr_material, pr_store, pr_innum, pr_inprice, pr_outprice
        from tb_property
        left join tb_product on tb_property.p_id = tb_product.id
		where tb_property.id = #{id,jdbcType=INTEGER}
    </select>


    <insert id="addProductDetail" parameterType="com.web.pojo.TbProductOrder">
        insert into tb_product_order(pr_id,o_id,c_id,pro_number) values(#{prId,jdbcType=INTEGER},null,#{cId,jdbcType=INTEGER},#{proNumber,jdbcType=INTEGER});
    </insert>
    <select id="getComment" resultType="com.web.pojo.TbComment" parameterType="java.lang.Integer" >
        select * from tb_comment
	       where pr_id = #{pr_Id,jdbcType=INTEGER}
    </select>
</mapper>