<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.TbAdminMapper" >
  <resultMap id="BaseResultMap" type="com.web.pojo.TbAdmin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="a_email" property="aEmail" jdbcType="VARCHAR" />
    <result column="a_pwd" property="aPwd" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectManage_AdminList" parameterType="com.web.pojo.Manage_Admin" resultMap="BaseResultMap">
    SELECT
    id, a_email, a_pwd
    FROM
    tb_admin

    <if test="start !=null and rows != null">
      limit #{start},#{rows}
    </if>

  </select>

  <select id="selectManage_AdminListCount" parameterType="com.web.pojo.Manage_Admin" resultType="int">
    select count(*)
    from tb_admin
  </select>


  <select id="Admin_login" resultMap="BaseResultMap">
    select * from tb_admin where a_email = #{email,jdbcType=VARCHAR} and a_pwd = #{pwd,jdbcType=VARCHAR}
  </select>

  <select id="selectAdminOfAll" resultMap="BaseResultMap">
    select * from tb_admin
  </select>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, a_email, a_pwd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.web.pojo.TbAdminExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List"/>
    from tb_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.pojo.TbAdminExample" >
    delete from tb_admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.pojo.TbAdmin" >
    insert into tb_admin (id, a_email, a_pwd
      )
    values (#{id,jdbcType=INTEGER}, #{aEmail,jdbcType=VARCHAR}, #{aPwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.web.pojo.TbAdmin" >
    insert into tb_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="aEmail != null" >
        a_email,
      </if>
      <if test="aPwd != null" >
        a_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aEmail != null" >
        #{aEmail,jdbcType=VARCHAR},
      </if>
      <if test="aPwd != null" >
        #{aPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.pojo.TbAdminExample" resultType="java.lang.Integer" >
    select count(*) from tb_admin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_admin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.aEmail != null" >
        a_email = #{record.aEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.aPwd != null" >
        a_pwd = #{record.aPwd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_admin
    set id = #{record.id,jdbcType=INTEGER},
      a_email = #{record.aEmail,jdbcType=VARCHAR},
      a_pwd = #{record.aPwd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.TbAdmin" >
    update tb_admin
    <set >
      <if test="aEmail != null" >
        a_email = #{aEmail,jdbcType=VARCHAR},
      </if>
      <if test="aPwd != null" >
        a_pwd = #{aPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.TbAdmin" >
    update tb_admin
    set a_email = #{aEmail,jdbcType=VARCHAR},
      a_pwd = #{aPwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>