<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.TbFeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.web.pojo.TbFeedback" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="f_info" property="fInfo" jdbcType="VARCHAR" />
    <result column="f_date" property="fDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, f_info, f_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_feedback
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_feedback
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.pojo.TbFeedback" >
    insert into tb_feedback (id, f_info, f_date
      )
    values (#{id,jdbcType=INTEGER}, #{fInfo,jdbcType=VARCHAR}, #{fDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.web.pojo.TbFeedback" >
    insert into tb_feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fInfo != null" >
        f_info,
      </if>
      <if test="fDate != null" >
        f_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fInfo != null" >
        #{fInfo,jdbcType=VARCHAR},
      </if>
      <if test="fDate != null" >
        #{fDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.TbFeedback" >
    update tb_feedback
    <set >
      <if test="fInfo != null" >
        f_info = #{fInfo,jdbcType=VARCHAR},
      </if>
      <if test="fDate != null" >
        f_date = #{fDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.TbFeedback" >
    update tb_feedback
    set f_info = #{fInfo,jdbcType=VARCHAR},
      f_date = #{fDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>