<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.TbOrderMapper" >
  <resultMap id="BaseResultMap" type="com.web.pojo.TbOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pr_id" property="prId" jdbcType="INTEGER" />
    <result column="o_num" property="oNum" jdbcType="INTEGER" />
    <result column="o_total" property="oTotal" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="o_status" property="oStatus" jdbcType="INTEGER" />
    <result column="o_create" property="oCreate" jdbcType="TIMESTAMP" />
    <result column="o_pay" property="oPay" jdbcType="TIMESTAMP" />
    <result column="o_deliver" property="oDeliver" jdbcType="TIMESTAMP" />
    <result column="o_confirm" property="oConfirm" jdbcType="TIMESTAMP" />
    <result column="o_address" property="oAddress" jdbcType="VARCHAR" />
    <result column="o_phone" property="oPhone" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="OrderPropertyResult" type="com.web.pojo.TbOrderProperty">
    <id property="id" column="id"/>
    <result property="oNum" column="o_num"/>
    <result property="oTotal" column="o_total"/>
    <result property="oStatus" column="o_status"/>
    <result property="oCreate" column="o_create"/>
    <result property="oPay" column="o_pay"/>
    <result property="oDeliver" column="o_deliver"/>
    <result property="oConfirm" column="o_confirm"/>
    <result property="oAddress" column="o_address"/>
    <result property="oPhone" column="o_phone"/>
    <association property="tbProperty" javaType="com.web.pojo.TbProperty">
      <result property="prImage" column="pr_image" />
      <result property="prColor" column="pr_color" />
      <result property="prSize" column="pr_size" />
      <result property="prMaterial" column="pr_material"/>
      <result property="prStore" column="pr_store"/>
      <result property="prInnum" column="pr_innum"/>
      <result property="prInprice" column="pr_inprice"/>
      <result property="prOutprice" column="pr_outprice"/>
    </association>
    <association property="tbProduct" javaType="com.web.pojo.TbProduct">
      <result property="pName" column="p_name"/>
      <result property="pType" column="p_type" />
      <result property="pIntro" column="p_intro"/>
    </association>

  </resultMap>

  <resultMap id="OrderListResult" type="com.web.pojo.TbOrderProperty">
    <id property="id" column="id"/>
    <result property="oNum" column="o_num"/>
    <result property="oTotal" column="o_total"/>
    <result property="oStatus" column="o_status"/>
    <association property="tbProperty" javaType="com.web.pojo.TbProperty">
      <result property="prImage" column="pr_image" />
    </association>
  </resultMap>

  <!--自定义sql查询-->
  <!--查询订单详情-->
  <select id="getOrderProperty" parameterType="java.lang.Integer" resultMap="OrderPropertyResult">
    select
	tb_order.id, pr_id, o_num, o_total, c_id, o_status, o_create, o_pay, o_deliver, o_confirm,
    o_address, o_phone,p_id, pr_image, pr_color, pr_size, pr_material, pr_store, pr_innum, pr_inprice,
    pr_outprice, p_name, p_type, p_intro
    from
	tb_order left join tb_property on tb_order.pr_id = tb_property.id
		left join tb_product on tb_property.p_id = tb_product.id
    where tb_order.id= #{id,jdbcType=INTEGER} ;
  </select>

  <!--查询订单列表，根据用户名查询-->
  <select id="getOrderListbyUser" parameterType="java.lang.Integer" resultMap="OrderListResult">
    select
	tb_order.id, pr_id, o_num, o_total, c_id, o_status, o_create, o_pay, o_deliver, o_confirm,
    o_address, o_phone,p_id, pr_image, pr_color, pr_size, pr_material, pr_store, pr_innum, pr_inprice,
    pr_outprice, p_name, p_type, p_intro
    from
	tb_order left join tb_property on tb_order.pr_id = tb_property.id
		left join tb_product on tb_property.p_id = tb_product.id
    where tb_order.c_id = #{c_id,jdbcType=INTEGER};
  </select>

  <select id="getOrderListbyStatus" resultMap="OrderListResult">
    select
	tb_order.id, pr_id, o_num, o_total, c_id, o_status, o_create, o_pay, o_deliver, o_confirm,
    o_address, o_phone,p_id, pr_image, pr_color, pr_size, pr_material, pr_store, pr_innum, pr_inprice,
    pr_outprice, p_name, p_type, p_intro
    from
	tb_order left join tb_property on tb_order.pr_id = tb_property.id
		left join tb_product on tb_property.p_id = tb_product.id
    where tb_order.c_id = #{userId,jdbcType=INTEGER} and o_status = #{status,jdbcType=INTEGER} ;
  </select>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pr_id, o_num, o_total, c_id, o_status, o_create, o_pay, o_deliver, o_confirm, 
    o_address, o_phone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.web.pojo.TbOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.pojo.TbOrderExample" >
    delete from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.pojo.TbOrder" >
    insert into tb_order (id, pr_id, o_num, 
      o_total, c_id, o_status, 
      o_create, o_pay, o_deliver, 
      o_confirm, o_address, o_phone
      )
    values (#{id,jdbcType=INTEGER}, #{prId,jdbcType=INTEGER}, #{oNum,jdbcType=INTEGER}, 
      #{oTotal,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}, #{oStatus,jdbcType=INTEGER}, 
      #{oCreate,jdbcType=TIMESTAMP}, #{oPay,jdbcType=TIMESTAMP}, #{oDeliver,jdbcType=TIMESTAMP}, 
      #{oConfirm,jdbcType=TIMESTAMP}, #{oAddress,jdbcType=VARCHAR}, #{oPhone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.web.pojo.TbOrder" >
    insert into tb_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prId != null" >
        pr_id,
      </if>
      <if test="oNum != null" >
        o_num,
      </if>
      <if test="oTotal != null" >
        o_total,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="oStatus != null" >
        o_status,
      </if>
      <if test="oCreate != null" >
        o_create,
      </if>
      <if test="oPay != null" >
        o_pay,
      </if>
      <if test="oDeliver != null" >
        o_deliver,
      </if>
      <if test="oConfirm != null" >
        o_confirm,
      </if>
      <if test="oAddress != null" >
        o_address,
      </if>
      <if test="oPhone != null" >
        o_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prId != null" >
        #{prId,jdbcType=INTEGER},
      </if>
      <if test="oNum != null" >
        #{oNum,jdbcType=INTEGER},
      </if>
      <if test="oTotal != null" >
        #{oTotal,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="oStatus != null" >
        #{oStatus,jdbcType=INTEGER},
      </if>
      <if test="oCreate != null" >
        #{oCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="oPay != null" >
        #{oPay,jdbcType=TIMESTAMP},
      </if>
      <if test="oDeliver != null" >
        #{oDeliver,jdbcType=TIMESTAMP},
      </if>
      <if test="oConfirm != null" >
        #{oConfirm,jdbcType=TIMESTAMP},
      </if>
      <if test="oAddress != null" >
        #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null" >
        #{oPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.pojo.TbOrderExample" resultType="java.lang.Integer" >
    select count(*) from tb_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prId != null" >
        pr_id = #{record.prId,jdbcType=INTEGER},
      </if>
      <if test="record.oNum != null" >
        o_num = #{record.oNum,jdbcType=INTEGER},
      </if>
      <if test="record.oTotal != null" >
        o_total = #{record.oTotal,jdbcType=INTEGER},
      </if>
      <if test="record.cId != null" >
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.oStatus != null" >
        o_status = #{record.oStatus,jdbcType=INTEGER},
      </if>
      <if test="record.oCreate != null" >
        o_create = #{record.oCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oPay != null" >
        o_pay = #{record.oPay,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oDeliver != null" >
        o_deliver = #{record.oDeliver,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oConfirm != null" >
        o_confirm = #{record.oConfirm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oAddress != null" >
        o_address = #{record.oAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.oPhone != null" >
        o_phone = #{record.oPhone,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_order
    set id = #{record.id,jdbcType=INTEGER},
      pr_id = #{record.prId,jdbcType=INTEGER},
      o_num = #{record.oNum,jdbcType=INTEGER},
      o_total = #{record.oTotal,jdbcType=INTEGER},
      c_id = #{record.cId,jdbcType=INTEGER},
      o_status = #{record.oStatus,jdbcType=INTEGER},
      o_create = #{record.oCreate,jdbcType=TIMESTAMP},
      o_pay = #{record.oPay,jdbcType=TIMESTAMP},
      o_deliver = #{record.oDeliver,jdbcType=TIMESTAMP},
      o_confirm = #{record.oConfirm,jdbcType=TIMESTAMP},
      o_address = #{record.oAddress,jdbcType=VARCHAR},
      o_phone = #{record.oPhone,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.TbOrder" >
    update tb_order
    <set >
      <if test="prId != null" >
        pr_id = #{prId,jdbcType=INTEGER},
      </if>
      <if test="oNum != null" >
        o_num = #{oNum,jdbcType=INTEGER},
      </if>
      <if test="oTotal != null" >
        o_total = #{oTotal,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="oStatus != null" >
        o_status = #{oStatus,jdbcType=INTEGER},
      </if>
      <if test="oCreate != null" >
        o_create = #{oCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="oPay != null" >
        o_pay = #{oPay,jdbcType=TIMESTAMP},
      </if>
      <if test="oDeliver != null" >
        o_deliver = #{oDeliver,jdbcType=TIMESTAMP},
      </if>
      <if test="oConfirm != null" >
        o_confirm = #{oConfirm,jdbcType=TIMESTAMP},
      </if>
      <if test="oAddress != null" >
        o_address = #{oAddress,jdbcType=VARCHAR},
      </if>
      <if test="oPhone != null" >
        o_phone = #{oPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.TbOrder" >
    update tb_order
    set pr_id = #{prId,jdbcType=INTEGER},
      o_num = #{oNum,jdbcType=INTEGER},
      o_total = #{oTotal,jdbcType=INTEGER},
      c_id = #{cId,jdbcType=INTEGER},
      o_status = #{oStatus,jdbcType=INTEGER},
      o_create = #{oCreate,jdbcType=TIMESTAMP},
      o_pay = #{oPay,jdbcType=TIMESTAMP},
      o_deliver = #{oDeliver,jdbcType=TIMESTAMP},
      o_confirm = #{oConfirm,jdbcType=TIMESTAMP},
      o_address = #{oAddress,jdbcType=VARCHAR},
      o_phone = #{oPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>