<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.TbPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.web.pojo.TbProperty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="pr_image" property="prImage" jdbcType="VARCHAR" />
    <result column="pr_color" property="prColor" jdbcType="VARCHAR" />
    <result column="pr_size" property="prSize" jdbcType="VARCHAR" />
    <result column="pr_material" property="prMaterial" jdbcType="VARCHAR" />
    <result column="pr_store" property="prStore" jdbcType="INTEGER" />
    <result column="pr_innum" property="prInnum" jdbcType="INTEGER" />
    <result column="pr_inprice" property="prInprice" jdbcType="INTEGER" />
    <result column="pr_outprice" property="prOutprice" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, p_id, pr_image, pr_color, pr_size, pr_material, pr_store, pr_innum, pr_inprice, 
    pr_outprice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_property
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_property
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.pojo.TbProperty" >
    insert into tb_property (id, p_id, pr_image, 
      pr_color, pr_size, pr_material, 
      pr_store, pr_innum, pr_inprice, 
      pr_outprice)
    values (#{id,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{prImage,jdbcType=VARCHAR}, 
      #{prColor,jdbcType=VARCHAR}, #{prSize,jdbcType=VARCHAR}, #{prMaterial,jdbcType=VARCHAR}, 
      #{prStore,jdbcType=INTEGER}, #{prInnum,jdbcType=INTEGER}, #{prInprice,jdbcType=INTEGER}, 
      #{prOutprice,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.web.pojo.TbProperty" >
    insert into tb_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="prImage != null" >
        pr_image,
      </if>
      <if test="prColor != null" >
        pr_color,
      </if>
      <if test="prSize != null" >
        pr_size,
      </if>
      <if test="prMaterial != null" >
        pr_material,
      </if>
      <if test="prStore != null" >
        pr_store,
      </if>
      <if test="prInnum != null" >
        pr_innum,
      </if>
      <if test="prInprice != null" >
        pr_inprice,
      </if>
      <if test="prOutprice != null" >
        pr_outprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="prImage != null" >
        #{prImage,jdbcType=VARCHAR},
      </if>
      <if test="prColor != null" >
        #{prColor,jdbcType=VARCHAR},
      </if>
      <if test="prSize != null" >
        #{prSize,jdbcType=VARCHAR},
      </if>
      <if test="prMaterial != null" >
        #{prMaterial,jdbcType=VARCHAR},
      </if>
      <if test="prStore != null" >
        #{prStore,jdbcType=INTEGER},
      </if>
      <if test="prInnum != null" >
        #{prInnum,jdbcType=INTEGER},
      </if>
      <if test="prInprice != null" >
        #{prInprice,jdbcType=INTEGER},
      </if>
      <if test="prOutprice != null" >
        #{prOutprice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.TbProperty" >
    update tb_property
    <set >
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="prImage != null" >
        pr_image = #{prImage,jdbcType=VARCHAR},
      </if>
      <if test="prColor != null" >
        pr_color = #{prColor,jdbcType=VARCHAR},
      </if>
      <if test="prSize != null" >
        pr_size = #{prSize,jdbcType=VARCHAR},
      </if>
      <if test="prMaterial != null" >
        pr_material = #{prMaterial,jdbcType=VARCHAR},
      </if>
      <if test="prStore != null" >
        pr_store = #{prStore,jdbcType=INTEGER},
      </if>
      <if test="prInnum != null" >
        pr_innum = #{prInnum,jdbcType=INTEGER},
      </if>
      <if test="prInprice != null" >
        pr_inprice = #{prInprice,jdbcType=INTEGER},
      </if>
      <if test="prOutprice != null" >
        pr_outprice = #{prOutprice,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.TbProperty" >
    update tb_property
    set p_id = #{pId,jdbcType=INTEGER},
      pr_image = #{prImage,jdbcType=VARCHAR},
      pr_color = #{prColor,jdbcType=VARCHAR},
      pr_size = #{prSize,jdbcType=VARCHAR},
      pr_material = #{prMaterial,jdbcType=VARCHAR},
      pr_store = #{prStore,jdbcType=INTEGER},
      pr_innum = #{prInnum,jdbcType=INTEGER},
      pr_inprice = #{prInprice,jdbcType=INTEGER},
      pr_outprice = #{prOutprice,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>